@use '../utils/functions' as f;
@use '../utils/breakpoints' as b;

body {
  background-color: var(--dark-blue-main-bg);
  color: var(--white);
  @include b.breakpoint(xlarge) {
    font-size: f.rem(20);
  }
}

.container {
  width: 89%;
  margin: 0 auto;
  @include b.breakpoint(large) {
    max-width: f.rem(1280);
  }
}
