.flex {
  display: flex;
  &--dc {
    flex-direction: column;
  }
  &--all-center {
    justify-content: center;
    align-items: center;
  }
  &--jc-sb {
    justify-content: space-between;
  }
  &--jc-sb {
    justify-content: start;
  }
  &--ai-c {
    align-items: center;
  }
}
