@use '../utils/functions' as f;
@use '../utils/breakpoints' as b;
@use '../utils/mixins' as m;

.footer {
  padding: 60px 0;
  background-color: var(--dark-blue-footer-bg);
  &__logo {
    align-self: flex-start;
    @include m.logo(footer);
  }
}
