@use "../utils/functions" as f;
@use "../utils/breakpoints" as b;
@use "../utils/mixins" as m;

.header {
  height: f.rem(67);
  font-family: var(--raleway);
  color: var(--light-white);
  background-color: var(--dark-blue-su-bg);
  font-weight: 700;
  @include b.breakpoint(xmedium) {
    height: f.rem(130);
    font-size: f.rem(16);
  }
  @include b.breakpoint(xlarge) {
    height: f.rem(200);
  }
  &__logo {
    @include m.logo(header);
  }
  & ul li a:hover {
    color: var(--white);
    text-decoration: underline;
  }
  & ul > li {
    width: f.rem(70);
    text-align: right;
    @include b.breakpoint(large) {
      width: f.rem(106);
    }
  }
}
