@use '../utils/functions' as f;
@use '../utils/breakpoints' as b;

.header {
  height: f.rem(67);
  font-family: var(--raleway);
  color: var(--light-white);
  background-color: var(--dark-blue-su-bg);
  @include b.breakpoint(xmedium) {
    height: f.rem(130);
    font-size: f.rem(16);
  }
  @include b.breakpoint(xlarge) {
    height: f.rem(200);
  }
  &__logo {
    background-image: url("../assets/images/logo.svg");
    width: f.rem(82.5);
    height: f.rem(26.3);
    background-repeat: no-repeat;
    background-size: contain;
    &:hover {
      transform: scale(1.1);
    }
    @include b.breakpoint(xmedium) {
      width: f.rem(168);
      height: f.rem(40);
    }
    @include b.breakpoint(xlarge) {
      width: f.rem(178);
      height: f.rem(50);
    }
  }
  & ul li a:hover {
    color: var(--white);
    font-weight: 700;
    text-decoration: underline;
  }
  & ul > li {
    width: f.rem(70);
    text-align: right;
    @include b.breakpoint(large) {
      width: f.rem(106);
    }
  }
}
