@use '../utils/functions' as f;

.hero {
  text-align: center;
  &__img {
    width: f.rem(295);
    height: f.rem(248);
    background-image: url("../assets/images/illustration-intro.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__title {
    width: 302px;
    font-family: var(--raleway);
    font-size: f.rem(23);
  }
  &__text {
    width: 302px;
  }
}
