@use '../utils/functions' as f;
@use '../utils/breakpoints' as b;
@use '../utils/mixins' as m;

.hero {
  text-align: center;
  &__img {
    margin-top: f.rem(20);
    width: f.rem(320);
    height: f.rem(252);
    margin-top: f.rem(22);
    background-image: url("../assets/images/illustration-intro.png");
    background-repeat: no-repeat;
    background-size: contain;
    @include b.breakpoint(xmedium) {
      margin-top: f.rem(70);
      width: f.rem(620);
      height: f.rem(424);
    }
    @include b.breakpoint(xlarge) {
      margin-top: 0;
      width: f.rem(720);
      height: f.rem(535);
    }
  }
  &__title {
    margin-top: f.rem(15);
    font-family: var(--raleway);
    font-size: f.rem(21);
    line-height: 1.4;
    @include m.hero_content_mobile();
    @include b.breakpoint(xlarge) {
      margin-top: 47px;
      width: f.rem(720);
      font-size: f.rem(42);
    }
  }
  &__text {
    margin-top: f.rem(20);
    margin-bottom: f.rem(30);
    color: var(--white);
    @include m.hero_content_mobile();
    @include b.breakpoint(xlarge) {
      margin-top: 45px;
      margin-bottom: 36px;
      width: f.rem(585);
      font-size: f.rem(20);
    }
  }
}
