@use '../utils/functions' as f;
@use '../utils/breakpoints' as b;
@use '../utils/mixins' as m;

.hero {
  width: 100%;
  position: relative;
  text-align: center;
  background-color: var(--dark-blue-su-bg);
  z-index: 1;
  &__bg-section {
    position: absolute;
    bottom: 0;
    z-index: -1;
    .bg-img {
      width: 100%;
      height: 37vw; // 140px
      background-image: url("../assets/images/bg-curvy-mobile.svg");
      background-repeat: no-repeat;
      background-size: cover;
      @include b.breakpoint(xlarge) {
        height: 31vw;
        background-image: url("../assets/images/bg-curvy-desktop.svg");
      }
    }
    .bg-color {
      width: 100vw;
      background-color: var(--dark-blue-main-bg);
      height: f.rem(210); // 380
      @include b.breakpoint(mobile) {
        height: 100px;
      }
      @include b.breakpoint(xmedium) {
        height: 10px;
      }
      @include b.breakpoint(large) {
        height: 0;
      }
    }
  }
  &__img {
    width: f.rem(302);
    height: f.rem(238);
    margin-top: f.rem(22);
    background-image: url("../assets/images/illustration-intro.png");
    background-repeat: no-repeat;
    background-size: contain;
    @include b.breakpoint(xmedium) {
      margin-top: f.rem(70);
      width: f.rem(620);
      height: f.rem(424);
    }
    @include b.breakpoint(xlarge) {
      margin-top: 0;
      width: f.rem(720);
      height: f.rem(535);
    }
  }
  &__title {
    margin-top: f.rem(15);
    font-family: var(--raleway);
    font-size: f.rem(23);
    line-height: 1.4;
    @include m.hero_content_mobile();
    @include b.breakpoint(xlarge) {
      margin-top: f.rem(47);
      width: f.rem(720);
      font-size: f.rem(42);
    }
  }
  &__text {
    margin-top: f.rem(17);
    margin-bottom: f.rem(33);
    color: var(--white);
    @include m.hero_content_mobile();
    @include b.breakpoint(xlarge) {
      margin-top: f.rem(45);
      margin-bottom: f.rem(36);
      width: f.rem(585);
      font-size: f.rem(20);
    }
  }
  a {
    @include b.breakpoint(large) {
      margin-bottom: 170px;
    }
  }
}
