@use '../utils/functions' as f;
@use '../utils/mixins' as m;
@use '../utils/breakpoints' as b;

.info-list {
  margin: 60px 0;
  display: grid;
  grid-template-columns: f.rem(320);
  gap: f.rem(70) 0;
  justify-content: center;
  text-align: center;
  @include b.breakpoint(medium) {
    grid-template-columns: repeat(2, f.rem(320));
    gap: f.rem(70) f.rem(50);
  }
  @include b.breakpoint(large) {
    grid-template-columns: repeat(2, f.rem(361));
    gap: f.rem(70) f.rem(150);
  }
  @include b.breakpoint(xlarge) {
    // grid-template-columns: repeat(2, f.rem(340));
    margin-top: 0;
  }
  &__img {
    @include b.breakpoint(large) {
      height: 86px;
    }
  }
  &__title {
    margin-top: 30px;
    @include m.section_title();
  }
  &__text {
    @include m.section_text();
  }
}
