.card-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 278px;
  height: 157px;
  padding: 28px;
  background-color: var(--dark-blue-testimonials-bg);
  border-radius: 5px;
  &__text {
    font-size: 10px;
    line-height: 2;
  }
  &__autor {
    display: flex;
  }
}
