@use '../utils/functions' as f;
@use '../utils/mixins' as m;
@use '../utils/breakpoints' as b;

.form {
  position: absolute;
  top: 0;
  left: calc(50%);
  transform: translateY(-50%) translateX(-50%);
  box-shadow: 0px 0px 12px -5px #00000082;
  &__container {
    width: 337px;
    padding: 40px 30px;
    background-color: var(--dark-blue-su-bg);
    border-radius: 10px;
    @include b.breakpoint(medium) {
      width: 700px;
    }
    @include b.breakpoint(large) {
      width: 860px;
    }
  }
  &__title {
    color: var(--white);
    @include m.section-title();
  }
  &__text {
    margin-top: 20px;
    text-align: center;
    color: var(--white);
  }
  &__get-started {
    width: 100%;
    @include b.breakpoint(medium) {
      flex-direction: row;
    }
  }
  &__input {
    appearance: none;
    width: 100%;
    margin-top: 20px;
    padding: 7px 29px;
    height: 47px;
    border: 3px solid transparent;
    border-radius: 50px;
    @include b.breakpoint(medium) {
      flex: 2;
      margin-right: 20px;
    }
    &:invalid {
      border-color: var(--error-light-red);
    }
    &:focus:invalid {
      border-color: var(--error-light-red);
    }
    &:focus {
      border: 3px solid var(--ca-gradient-cyan);
      outline: none;
    }
  }
  &__btn {
    margin-top: 20px;
    @include b.breakpoint(medium) {
      flex: 1;
    }
  }
}

.error {
  width: 100%;
  padding: 0;
  color: var(--error-light-red);
  &:active {
    padding: f.rem(0.3);
  }
}
