@use './functions' as f;
@use './breakpoints' as b;

@mixin hero_content_mobile() {
  width: 302px;
}

@mixin section_title() {
  font-family: var(--raleway);
  font-size: f.rem(19);
  @include b.breakpoint(large) {
    font-size: f.rem(20);
  }
}

@mixin section_text() {
  margin-top: 10px;
  @include b.breakpoint(large) {
    font-size: 14px;
  }
}

@mixin logo($section) {
  background-image: url("../assets/images/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  &:hover {
    transform: scale(1.1);
  }
  @if ($section == header) {
    width: f.rem(82.5);
    height: f.rem(26.3);
    @include b.breakpoint(xmedium) {
      width: f.rem(168);
      height: f.rem(40);
    }
    @include b.breakpoint(xlarge) {
      width: f.rem(178);
      height: f.rem(50);
    }
  } @else if ($section == footer) {
    width: 178px;
    height: 50px;
    @include b.breakpoint(xmedium) {
      width: f.rem(168);
      height: f.rem(40);
    }
    @include b.breakpoint(xlarge) {
      width: 70px;
      height: 23px;
    }
  }
}
